*.o
*.a
*/bin/*
*/.svn
*.swp
*.tmp
*.log
*.aux
*.toc
doc/doxygen-fv_default
fvlib/data
*.xml
*.msh
*.geo
fvlib/*/BIC2012/polu*
fvlib/*/BIC2012/velocity*
fvlib/*/FVLib/bin/fvcd*
fvlib/*/FVLib/bin/fvcm*
